html,
body {
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px black;
}

.title {
  color:white;
  text-shadow: 2px 2px black;
}

.level {
  height: 180px;
}